#body{
    background-color: #add5fa;
}

#saludo{
    font-family: 'Times New Roman';
}

#texto{
    font-family: Arial;
}

#caja{
    background-color:white;
    margin-top: 15px;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}