.text-center{
    font-family: 'Times New Roman';
    margin-top:10px;
}

.text-decoration-none{
    margin-top:10px;
}

#panel{
    background-color: #fafaf8d7;
    min-height: 100vh;
}

#asambleas{
    border-radius: 10px;
    background-color: #d7e6f37a;
}
